* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;

    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;

    padding: 20px;

    background: purple;

    border: 2px solid purple;

    border-radius: 15px;

    box-shadow: 5px 5px 10px black;
}

#display {
    width: 100%;
    height: 60px;

    margin-bottom: 15px;

    padding: 10px;

    border: none;

    border-radius: 10px;

    background: pink;

    color: black;

    font-size: 25px;

    text-align: right;

    outline: none;

    box-shadow: inset 2px 2px 5px black;
}

.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}

button {
    height: 55px;

    border: none;

    border-radius: 10px;

    background: green;

    color: yellow;

    font-size: 18px;

    font-weight: bold;

    box-shadow: 3px 3px 5px black;

    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

button:active {
    transform: scale(0.95);
  }
